<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.goods">
	
	<select id="selectListGoods" resultType="GoodsDto" >
		SELECT 
	   			*
	    FROM 
				GOODS 	            		       
	</select>
	
	<insert id="insertGoods" parameterType="GoodsDto">
		    INSERT INTO 
		  			GOODS (
						GOODS_NM,
					    WRITER,
						PRICE,
						DISCOUNT_RATE,
						STOCK,
						PUBLISHER,
						SORT,
						POINT,
						PUBLISHED_DT ,
						TOTAL_PAGE,
						ISBN,
						DELIVERY_PRICE,
						PART,
						WRITER_INTRO,
						CONTENTS_ORDER,
						INTRO,
						PUBLISHER_COMMENT,
						RECOMMENDATION,
						GOODS_FILE_NAME,
						ENROLL_DT				  			
		  			)
		    VALUES (
			        #{goodsNm},
				    #{writer},
				    #{price},
					#{discountRate},
					#{stock},
					#{publisher},
					#{sort},
					#{point},
					#{publishedDt},
					#{totalPage},
					#{isbn},
					#{deliveryPrice},
					#{part},
					#{writerIntro},
					#{contentsOrder},
					#{intro},
					#{publisherComment},
					#{recommendation},
					#{goodsFileName},
					NOW()
 			 )
	</insert> 
	
	<update id="updateGoods" parameterType="GoodsDto" >
	   UPDATE 
	   			GOODS
	   <set> 
	      <if test='goodsNm != null and goodsNm != ""'>
	        GOODS_NM = #{goodsNm},
	      </if>
	      <if test='writer != null and writer != ""'>
	        WRITER = #{writer},
	      </if>
	      <if test='price != null and price != ""'>
	        PRICE = #{price},
	      </if>
	      <if test='discountRate != null and discountRate != ""'>
	        DISCOUNT_RATE = #{discountRate},
	      </if>
	      <if test='stock != null and stock != ""'>
	        STOCK = #{stock},
	      </if>
	      <if test='publisher != null and publisher != ""'>
	        PUBLISHER = #{publisher},
	      </if>
	      <if test='sort != null and sort != ""'>
	        SORT = #{sort},
	      </if>
	      <if test='point != null and point != ""'>
	        POINT = #{point},
	      </if>
	      <if test='publishedDt != null'>
	        PUBLISHED_DT = #{publishedDt},
	      </if>
	      <if test='totalPage != null and totalPage != ""'>
	        TOTAL_PAGE = #{totalPage},
	      </if>
	      <if test='isbn != null and isbn != ""'>
	        ISBN = #{isbn},
	      </if>
	      <if test='deliveryPrice != null and deliveryPrice != ""'>
	        DELIVERY_PRICE = #{deliveryPrice},
	      </if>
	      <if test='part != null and part != ""'>
	        PART = #{part},
	      </if>
	      <if test='writerIntro != null and writerIntro != ""'>
	        WRITER_INTRO = #{writerIntro},
	      </if>
	      <if test='contentsOrder != null and contentsOrder != ""'>
	        CONTENTS_ORDER = #{contentsOrder},
	      </if>
	      <if test='intro != null and intro != ""'>
	        INTRO = #{intro},
	      </if>
	      <if test='publisherComment != null and publisherComment != ""'>
	        PUBLISHER_COMMENT = #{publisherComment},
	      </if>
	      <if test='recommendation != null and recommendation != ""'>
	        RECOMMENDATION = #{recommendation},
	      </if>
	      <if test='goodsFileName != null and goodsFileName != ""'>
	        GOODS_FILE_NAME = #{goodsFileName},
	      </if>
	    </set>
		WHERE 
				GOODS_CD = #{goodsCd}
	</update>	
		
	<delete id="deleteGoods" parameterType="int">
		DELETE FROM GOODS WHERE GOODS_CD = #{goodsCd}
	</delete>	
		
</mapper>
